<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<div class="container">-->
<div class="col-11 mt-5 float-left">

    <div class="row px-5" >
{% for task in TL %}
<div class="card col-3 mr-5 "  style="width: 18rem; margin-bottom: 20px;">
  <div class="card-body ">
   <div  class="float-right"><a href="{{ task.delete_url }}" class="card-link">X</a></div>
    <h5 class="card-title">{{ task.title}} </h5>

    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">{{ task.desc }}</p>

    <a href="{% url 'update' id=task.pk %}" class="card-link">update</a>
  </div>

</div>

{% endfor %}
    </div>
    </div>
    <!--</div>-->

<div class=" col-1 float-right mb-5" style="top: 40px;"><a href="{% url 'create' %}"><div class="badge badge-pill badge-info">+ Add Task</div></a></div>
